        .topbar {
          background-color: #182230; /* dark navy blue */
          color: white;
          display: flex;
          justify-content: flex-end; /* Align to the right */
          align-items: center;
          padding: 12.5px 6px 12.5px 6px;
          font-size: 12px;
          font-family: 'Poppins', sans-serif;
          white-space: nowrap; /* Prevent wrapping on small screens */
          overflow-x: auto; /* Allow horizontal scrolling if necessary */
        }
        
        .topbar a {
          color: white;
          text-decoration: none;
          transition: color 0.2s;
        }
        .buttontop{  color: white;
          text-decoration: none;
          transition: color 0.2s;
        }
        .buttontop:hover {
          color: #ffc600; /* Yellow on hover */
        }
        .buttontop:active {
            color: #ffc600; /* Yellow when clicked */
        }
        .topbar a:hover {
          color: #ffc600; /* Yellow on hover */
        }

        .topbar a:active {
            color: #ffc600; /* Yellow when clicked */
        }
        
        .topbar-left {
            margin-right: auto; /* Pushes the left links to the left */
        }

        .topbar-left a,
        .topbar-right a {
            position: relative;
            padding: 0 10px; /* Add padding for spacing */
        }
        
        .topbar-left a:not(:last-child)::after,
        .topbar-right a:not(:last-child)::after {
          content: "|";
          margin-left: 10px;
          color: #999;
        }

        .topbar-left a:first-child::after {
            content: none;
        }
        
        .topbar-left a:last-child::after {
            content: none;
        }


        @media (max-width: 768px) {
          .topbar {
            justify-content: center; /* Center content on smaller screens */
          }
          .topbar-left, .topbar-right {
            display: none; /* Hide for very small screens for better mobile experience */
          }
        }